/* .mainDiv{
margin-top: 10px;
text-align: center;
} */

.sliderDiv{
    text-align: center;

}
.sliderImage{
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid grey;
}